<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="../vue.js"></script>
  </head>
  <body>
    <div id="app">
      <input type="text" v-model="pab" />
      <input type="text" v-model="tag" />
      <div v-text="message"></div>
    </div>
    <script>
      const app = new Vue({
        el: "#app",
        data: {
          pab: "Good ",
          tag: "Morning",
          message: "Good Morning",
        },
        watch: {
          pab: function (val) {
            this.message = val + "" + this.tag;
          },
          tag: function (val) {
            this.message = this.pab + "" + val;
          },
        },
      });
    </script>
  </body>
</html>
